.back {
  min-height: 100vh;
  background-color: #acacac;
  position: relative;
}

.cabeçalho {
  position: fixed;
  width: 100%;
  height: 4.5em;
  top: 0;
  background-color: white;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.iconVoltar {
  font-size: 1.2em;
  font-weight: bolder;
}

.nomeCliente {
  font-size: 2.5em;
  margin-left: 0.5em;
  flex-grow: 1;
}

.buttonMaisPedido {
  margin-right: 0.5em;
  margin-bottom: 0.2em;
}


.cardDiv {
  padding-top: 5.4em;
  padding-bottom: 13.5em;
}

.carrinhoNomeClienteDiv {
  display: flex;
  justify-content: center;
}

.carrinhoNomeClienteMat {
  flex: 1;
  max-width: 90%;
  margin: 1.1em 1em 0.3em;
  font-size: 2em;
}

.cardCarrinho {
  margin: 0 2em 1em;
  background-color: rgb(255, 255, 255);
  margin-top: 2em;
}

.divItemTudo {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.feito {
  background-color: #676767;
}

.divItemNomeQuantidadeValor {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.divItemNome {
  flex: 0 0 100%;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.4em;
}

.divItemQuantidadeValor {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
}

.divItemQuantidade,
.divItemValor {
  flex: 0 0 50%;
  font-size: 1.1em;
}

.divItemExcluirEditar {
  flex: 0 0 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4em;
}

.divItemExcluir,
.divItemEditar {
  flex: 0 0 50%;
  text-align: center;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

.edit-icon {
  color: #005d8f;
  cursor: pointer;
}

.acimaDoRodape {
  position: fixed;
  bottom: 7em;
  width: 100%;
}

.acimaDoRodapeFilho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  margin: 0 auto;
}

.subTotal {
}

.serviço {
}

.total {
}

.subTotalServiçoTotal {
  width: 32%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border: 1px solid black;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
}



.rodape {
  background-color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.divImprimirFinalizar {
  margin: 2em;
}

.buttonImprimirFinalizar {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1em;
}

.confirm-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.confirm-dialog {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.confirm-dialog-message {
  font-size: 18px;
}


@media (max-width: 1100px) {
  .rodape {
    justify-content: center;
  }
  .imprimir {
    display: none;
  }
}


@media (min-width: 1100px) {
  .cardCarrinho {
    cursor: pointer;
  }
}
