<div class="back">
  <div class="cabeçalho">
    <div class="nomeCliente">
      {{ capitalizeFirstLetterOfEachWord(nomeCliente) }}
    </div>
    <div class="matIcon">
      <button class="buttonMaisPedido" matSuffix mat-icon-button (click)="maisPedido(nomeCliente)">
        <mat-icon style="font-weight: bolder; border: 3px solid rgb(0, 38, 255); border-radius: 50%;" color="primary">add</mat-icon>
      </button>
    </div>
  </div>

  <div class="cardDiv">
    <mat-card *ngFor="let item of pedidosClienteSelecionado" class="cardCarrinho" [ngClass]="{ 'feito': shouldAddGrayCardClass(item) }">
      <mat-card-content (click)="doubleClickPedido(item)" class="divItemTudo">
        <div class="divItemNomeQuantidadeValor">
          <div class="divItemNome">{{ item.nome }}</div>
          <div class="divItemQuantidadeValor">
            <div class="divItemQuantidade">{{ item.quantidade }} UNID</div>
            <div class="divItemValor">{{ formatToBrazilianReal(somaValores(item.valor, item.adicional1?.valor, item.adicional2?.valor)) }}</div>
          </div>
        </div>
        <div class="divItemExcluirEditar">
          <div class="divItemExcluir">
            <mat-icon (click)="excluirItem(item)" class="delete-icon">delete</mat-icon>
          </div>
          <div class="divItemEditar">
            <mat-icon (click)="editItemOpenDialog(item)" class="edit-icon">edit</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="acimaDoRodape">
    <div class="acimaDoRodapeFilho">
      <div class="subTotal subTotalServiçoTotal">
        subTotal<br>{{ formatToBrazilianReal(subTotal) }}
      </div>
      <div class="serviço subTotalServiçoTotal">
        Serviço<br>{{ formatToBrazilianReal(subTotal*0.1) }}
      </div>
      <div class="total subTotalServiçoTotal">
        Total<br>{{ formatToBrazilianReal(subTotal + subTotal*0.1) }}
      </div>
    </div>
    <div class="rodape">
      <div class="divImprimirFinalizar imprimir">
        <button class="buttonImprimirFinalizar" mat-raised-button color="primary" (click)="imprimirComanda(pedidosClienteSelecionado)">Imprimir Comanda</button>
      </div>
      <div class="divImprimirFinalizar">
        <button class="buttonImprimirFinalizar" mat-raised-button color="primary" (click)="finalizarComanda(pedidosClienteSelecionado)">Finalizar Comanda</button>
      </div>
    </div>
  </div>
</div>

<div class="confirm-dialog-backdrop" id="confirm-dialog">
  <div class="confirm-dialog">
    <div class="confirm-dialog-message" id="confirm-dialog-message">

    </div>
  </div>
</div>


