.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.valor {
  font-size: 2em;
  margin-bottom: 1em;
  color: black;
}

.toggle {
  margin: 1em 0 2em;
}

.dez {
  font-size: 1.7em;
}
