<div class="all">
  <div class="cabeçalho">
    <div class="nomeCliente">
      {{ capitalizeFirstLetterOfEachWord(nomeCliente) }}
    </div>
  </div>
  <div class="tab1" *ngIf="ngIfTab1">
    <div class="divTodosBotoesECards">
      <div class="grupoBotões">
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'todos'" (click)="abrirDivPedido('todos')">TODOS</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'entradas'" (click)="abrirDivPedido('entradas')">Entradas</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'saladas'" (click)="abrirDivPedido('saladas')">Saladas</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'sopas'" (click)="abrirDivPedido('sopas')">Sopas</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'lanches'" (click)="abrirDivPedido('lanches')">Lanches</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'petiscos'" (click)="abrirDivPedido('petiscos')">Petiscos</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'pasteis'" (click)="abrirDivPedido('pasteis')">Pastéis</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'doces'" (click)="abrirDivPedido('doces')">Doces</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'alcool'" (click)="abrirDivPedido('alcool')">Alcoólicas</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'bebidas'" (click)="abrirDivPedido('bebidas')">Não Alcoólicas</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'frangos'" (click)="abrirDivPedido('frangos')">Frangos</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'carnes'" (click)="abrirDivPedido('carnes')">Carnes</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'risotos'" (click)="abrirDivPedido('risotos')">Risotos</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'massas'" (click)="abrirDivPedido('massas')">Massas</button>
        <button mat-raised-button class="umBotao" [class.selectedButton]="selecionado === 'frutosDoMar'" (click)="abrirDivPedido('frutosDoMar')">Do Mar</button>
      </div>
      <div *ngFor="let categoria of categorias">
        <div *ngIf="visibilidadeDivs[categoria.tipo]" class="scroll-container">
          <mat-grid-list class="matGridList" [cols]="cols" [rowHeight]="rowHeight">
            <mat-grid-tile class="matGridTile" *ngFor="let item of categoria.lista">
              <mat-card class="matCard" (click)="selectItem(item)" [ngClass]="{'selectedCard': itensSelecionados.includes(item)}">
                <!--<img class="imgCard" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
                <mat-card-content>
                  <div class="matCardContent">
                    <p [class.nomeItemPedidoLongo]="item.nome.length > 40" class="nomeItemPedido">{{ item.nome }}</p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </div>
  <div class="tab2" *ngIf="ngIfTab2">
    <div>
      <div class="cardDiv">
        <mat-card *ngFor="let item of carrinho" class="cardCarrinho">
          <mat-card-content class="divItemTudo">
            <div class="divItemNomeQuantidadeValor">
              <div class="divItemNome">{{ item.nome }}</div>
              <div class="divItemQuantidadeValor">
                <div class="divItemQuantidade">{{ item.quantidade }} UNID</div>
                <div class="divItemValor">{{ formatToBrazilianReal(item.valor + +item.adicional1!.valor + +item.adicional2!.valor) }}</div>
              </div>
            </div>
            <div class="divItemExcluirEditar">
              <div class="divItemExcluir">
                <mat-icon (click)="selectItem(item)" class="delete-icon">delete</mat-icon>
              </div>
              <div class="divItemEditar">
                <mat-icon (click)="editItemOpenDialog(item)" class="edit-icon">edit</mat-icon>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="divButtonEnvioNovo">
          <button mat-button (click)="envioNovo()" class="buttonEnvioNovo" mat-flat-button color="primary" [disabled]="!botaoEnviar">ENVIAR</button>
        </div>
        <div style="margin-bottom: 13em;"></div>
      </div>
    </div>
  </div>
  <div class="rodape">
    <button class="buttonCardapio" (click)="tab('cardapio')" [ngClass]="{ 'activeTab': ngIfTab1 }">CARDÁPIO</button>
    <button class="buttonCarrinho" (click)="tab('carrinho')" [ngClass]="{ 'activeTab': ngIfTab2 }">CARRINHO ({{ carrinho.length }})</button>
  </div>
</div>

<div *ngIf="ngIfTab1" class="inputFiltroPedido">
  <mat-form-field class="input">
    <input matInput type="text" placeholder="FILTRAR" [(ngModel)]="filtroPedido" (ngModelChange)="filtrarItems($event)">
    <button mat-button matSuffix (click)="getTodosItems()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>





<div class="confirm-dialog-backdrop" id="confirm-dialog">
  <div class="confirm-dialog">
    <div class="confirm-dialog-message" id="confirm-dialog-message">

    </div>
  </div>
</div>
