.title {
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
}

.divObs {
  display: inline-flex;
  width: 70%;
}

.matObs {
  width: 100%;
  font-size: 1.8em;
}

.divQuant {
  display: inline-flex;
  width: 25%;
  margin-left: 5%;
}

.matQuant {
  width: 100%;
}

.input2 {
  font-size: 2.1em;
}

.esquerdaIf {
  width: 45%;
  font-size: 2em;
}

.meio {
  width: 20%;
  margin: 0 5%;
  font-size: 2em;
}

.direitaIf {
  width: 24%;
  display: inline-flex;
  align-items: center;
}

.buttonIcon {
  width: 40%;
   background-color: red;
   color: white;
   font-size: 24px;
   height: 36px;
   padding: 6px;
   border-radius: 50%;
   margin: 0 auto;
}

.buttonIconMaisDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.buttonIconMais {
  width: 10%;
   background-color: green;
   color: white;
   font-size: 24px;
   height: 36px;
   padding: 6px;
   border-radius: 50%;
   margin: 0 auto;
}

.custom-icon {
  font-size: 24px;
}


.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.buttonDiv {
  margin-left: 4em;
}

.buttonCancelar {
  height: 5em;
}

.buttonConfirmar {
  height: 5em;
  background-color: #005d8f;
}

.buttonFont {
  font-size: 1.5em;
}

.Confirmar {
  color: white;
}
