
<mat-stepper class="stepper" #stepper [animationDuration]="animationDuration">
  <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel><div class="tituloSteps">Adicionar</div></ng-template>
      <div class="divBoxPedido">
        <div class="divPedido">
          <mat-form-field class="example-full-width">
            <mat-label>Opções de Pedidos</mat-label>
            <mat-select class="pedidoTam" class="pedidoTam" [(ngModel)]="pedidoSelecionado" [formControl]="pedidoSelecionadoControl" name="pedidoSelecionado">
              <div *ngIf="ngIfEntradas">
                <label class="labelPedidos" for="entradas">Entradas</label>
                <mat-option *ngFor="let prato of entradas" [value]="prato" name="entradas">
                  {{prato.nome}}
                </mat-option>
              </div>
              <div *ngIf="ngIfSaladas">
                <label class="labelPedidos" for="saladas">Saladas</label>
                <mat-option *ngFor="let prato of saladas" [value]="prato" name="saladas">
                  {{prato.nome}}
                </mat-option>
              </div>
              <div *ngIf="ngIfSopas">
                <label class="labelPedidos" for="sopas">Sopas</label>
                <mat-option *ngFor="let prato of sopas" [value]="prato" name="sopas">
                  {{prato.nome}}
                </mat-option>
              </div>
              <div *ngIf="ngIfLanches">
                <label class="labelPedidos" for="lanches">Lanches</label>
                <mat-option *ngFor="let prato of lanches" [value]="prato" name="lanches">
                  {{prato.nome}}
                </mat-option>
              </div>
              <div *ngIf="ngIfPetiscos">
                <label class="labelPedidos" for="petiscos">Petiscos</label>
                <mat-option *ngFor="let prato of petiscos" [value]="prato" name="petiscos">
                  {{prato.nome}}
                </mat-option>
              </div>
              <div *ngIf="ngIfPasteis">
                <label class="labelPedidos" for="pasteis">Pastéis</label>
                <mat-option *ngFor="let prato of pasteis" [value]="prato" name="pasteis">
                  {{prato.nome}}
                </mat-option>
              </div>
              <div *ngIf="ngIfPratos">
                <label class="labelPedidos" for="frangos">Frango</label>
                <mat-option *ngFor="let prato of frangos" [value]="prato" name="frangos">
                  {{prato.nome}}
                </mat-option>
                <label class="labelPedidos" for="contraFiles">Carne</label>
                <mat-option *ngFor="let prato of contraFiles" [value]="prato" name="contraFiles">
                  {{prato.nome}}
                </mat-option>
                <label class="labelPedidos" for="risotos">Risotos</label>
                <mat-option *ngFor="let prato of risotos" [value]="prato" name="risotos">
                  {{prato.nome}}
                </mat-option>
                <label class="labelPedidos" for="massas">Massas</label>
                <mat-option *ngFor="let prato of massas" [value]="prato" name="massas">
                  {{prato.nome}}
                </mat-option>
                <label class="labelPedidos" for="frutosDoMar">Frutos do mar</label>
                <mat-option *ngFor="let prato of frutosDoMar" [value]="prato" name="frutosDoMar">
                  {{prato.nome}}
                </mat-option>
              </div>
              <div *ngIf="ngIfSobremesas">
                <label class="labelPedidos" for="bebidasSem">Sobremesa</label>
                <mat-option *ngFor="let sobremesa of sobremesas" [value]="sobremesa" name="sobremesa">
                  {{sobremesa.nome}}
                </mat-option>
              </div>
              <div *ngIf="ngIfBebidas">
                <label class="labelPedidos" for="bebidas">SEM alcool</label>
                <mat-option *ngFor="let bebida of bebidas" [value]="bebida" name="bebida">
                  {{bebida.nome}}
                </mat-option>
                <label class="labelPedidos" for="alcool">Alcoólicas</label>
                <mat-option *ngFor="let bebida of alcool" [value]="bebida" name="alcool">
                  {{bebida.nome}}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="divObsQuant">
          <mat-form-field class="example-full-width pedidoTam">
            <mat-label>Observações</mat-label>
            <input matInput [(ngModel)]="pedidoObs">
          </mat-form-field>
          <mat-form-field class="quantidade" appearance="fill">
            <mat-select class="pedidoTam" [(ngModel)]="pedidoQnt" name="entradaQnt">
              <mat-option *ngFor="let quant of quants" [value]="quant.valor">
                {{quant.valor}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div>
        <button class="botaoAddPedido" mat-flat-button color="primary" (click)="addPedido()"><div class="addBotao">Adicionar</div></button>
      </div>

      <div class="buttonsGroup">
        <button mat-raised-button class="buttonUnid diferente" (click)="openDialog()">Diferente</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfEntradas" (click)="abrirJanelaDoPedido('entradas')">Entradas</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfSaladas" (click)="abrirJanelaDoPedido('saladas')">Saladas</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfSopas" (click)="abrirJanelaDoPedido('sopas')">Sopas</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfLanches" (click)="abrirJanelaDoPedido('lanches')">Lanches</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfPetiscos" (click)="abrirJanelaDoPedido('petiscos')">Petiscos</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfPasteis" (click)="abrirJanelaDoPedido('pasteis')">Pastéis</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfPratos" (click)="abrirJanelaDoPedido('pratos')">Pratos</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfSobremesas" (click)="abrirJanelaDoPedido('sobremesas')">Sobremesas</button>
        <button mat-raised-button class="buttonUnid" [class.selectedButton]="ngIfBebidas" (click)="abrirJanelaDoPedido('bebidas')">Bebidas</button>
      </div>

      <button class="next-button" mat-button (click)="stepper.next()">Próximo</button>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Pratos">
      <ng-template matStepLabel ><div class="tituloSteps">Identificar/Revisar ({{arrayPedidos.length}})</div></ng-template>
      <div class="checkboxecompania" id="divCheckboxecompania">
        <div class="checkboxs">
          <mat-radio-group [(ngModel)]="estadoCheckbox" (change)="onChangeCheckbox()" name="check">
            <mat-radio-button class="radioButton" value="1"><div class="radiosButton">Hospede</div></mat-radio-button>
            <mat-radio-button class="radioButton2" value="2"><div class="radiosButton">Passante</div></mat-radio-button>
          </mat-radio-group>
        </div>


        <div id="divHospedePassante" class="divHospedePassante" [class.displayNone]="nomeQuartoCheck">
          <mat-form-field appearance="fill">
            <mat-label>Nome do quarto</mat-label>
            <mat-select class="pedidoTam" [(ngModel)]="quartoSelecionado" name="selectedQuarto">
              <mat-option *ngFor="let quarto of nomesQuartos" [value]="quarto" name="quarto">
                {{quarto.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="divHospedePassante" [class.displayNone]="nomePassanteCheck"  >
          <mat-form-field appearance="fill">
            <mat-label>Nome do passante</mat-label>
            <input type="text"
                 aria-label="Quarto"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 [(ngModel)]="nomePassanteSelecionado"
                 name="nomePassante">
                 <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 tableCSS">


          <ng-container matColumnDef="obs">
            <th mat-header-cell *matHeaderCellDef class="tableLetters uppercase"> Obs </th>
            <td mat-cell *matCellDef="let element" class="tableLetters"> {{element.obs}} </td>
          </ng-container>


          <ng-container matColumnDef="pedido">
            <th mat-header-cell *matHeaderCellDef class="tableLetters uppercase"> Pedido </th>
            <td mat-cell *matCellDef="let element" class="tableLetters"> {{element.nome}} </td>
          </ng-container>


          <ng-container matColumnDef="qnt">
            <th mat-header-cell *matHeaderCellDef class="tableLetters uppercase"> Quantidade </th>
            <td mat-cell *matCellDef="let element" class="tableLetters"> {{element.qnt}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
        </table>
      </div>

    <button mat-button (click)="envio()" class="botaoAddPedido menosMarginTop" mat-flat-button color="primary">Enviar</button>


    <button class="back-button" mat-button (click)="stepper.previous()">Anterior</button>
  </mat-step>
</mat-stepper>

<div class="confirm-dialog-backdrop" id="confirm-dialog">
  <div class="confirm-dialog">
    <div class="confirm-dialog-message" id="confirm-dialog-message">

    </div>
  </div>
</div>
