<div class="back">
  <div class="cabeçalho"></div>

  <div class="NomeClienteDiv">
    <mat-form-field class="NomeClienteMat">
      <mat-label><div class="titleNomeCliente">Nome do Quarto/Cliente</div></mat-label>
      <input matInput type="text" [(ngModel)]="inputNomeCliente" (ngModelChange)="filtrarClientes()">
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="inputNomeCliente" (click)="clearFiltro()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="NomeClienteDiv">
    <mat-grid-list class="matGridList" cols="3" rowHeight="5:3">
      <mat-grid-tile class="matGridTile" *ngFor="let nomeCliente of todosClientesNgFor">
        <mat-card class="matCard" (click)="selectItem(nomeCliente)">
          <mat-card-content class="matCardContent">
            <p class="nomeItemPedido">{{ nomeCliente }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>


