.back {
  height: 100vh;
  background-color: #acacac;
}

.cabeçalho {
  position: fixed;
  width: 100%;
  height: 3.3em;
  top: 0;
  background-color: white;
  z-index: 2;
}


.NomeClienteDiv {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.NomeClienteDiv2 {
  display: flex;
  justify-content: center;
}

.NomeClienteMat {
  flex: 1;
  max-width: 90%;
  margin: 1.5em 1em 0.3em;
  font-size: 2em;
}

.titleNomeCliente {
  font-size: 1.4em;
  margin-top: 0.2em;
}

.buttonMaisPedido {
  margin-right: 0.6em;
  margin-bottom: 0.2em;
}

.matGridList {
  width: 93%;
  height: auto; /* ou defina a altura desejada aqui */
}

.matGridTile {
  flex: 1; /* Isso faz com que todos os tiles ocupem o mesmo espaço */
  box-sizing: border-box; /* Certifique-se de que o preenchimento não afete o tamanho total */
}

.matCard {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* Borda opcional para destacar os cards */
}

.nomeItemPedido {
  text-align: center;
  font-size: 2em;
}






