.back {
  height: 100vh;
  background-color: #acacac;
}

.cabeçalho {
  position: fixed;
  width: 100%;
  height: 4.5em;
  top: 0;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.NomeClienteDiv {
  display: flex;
  justify-content: center;
  padding-top: 4.5em;
}

.NomeClienteDiv2 {
  display: flex;
  justify-content: center;
  max-height: calc(70vh);
  overflow-y: auto;
}


.NomeClienteMat {
  flex: 1;
  max-width: 90%;
  margin: 1.5em 1em 0.3em;
  font-size: 2em;
}

.titleNomeCliente {
  font-size: 1.4em;
  margin-top: 0.2em;
}

.buttonMaisPedido {
  margin-right: 0.6em;
  margin-bottom: 0.2em;
}

.matGridList {
  width: 93%;
  height: auto;
}

.matGridTile {
  flex: 1;
  box-sizing: border-box;
}

.matCard {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #888;
  border-radius: 50%;
}

.nomeItemPedido {
  text-align: center;
  font-size: 2em;
}

@media (min-width: 1100px) {
  .matCard {
    cursor: pointer;
  }
}

@media (max-width: 1100px) {
  .NomeClienteDiv2 {
    max-height: calc(80vh);
  }
}

