<div>
  <mat-toolbar id="toolbar1">

    <span id="usuario">{{ usuario }}</span>

    <span id="tituloComandOn">ComandaOn</span>

    <span id="logOut">
      <button id="logOutButton" (click)="logout()">LogOut</button>
    </span>

  </mat-toolbar>

  <mat-toolbar id="toolbar2">
    <span>
      <button id="botao1" mat-button routerLinkActive="active" routerLink="novopedido">Novo</button>
    </span>
    <span>
      <button id="botao2" mat-button routerLinkActive="active" routerLink="listadepedidos">Cozinha</button>
    </span>
    <span>
      <button id="botao3" mat-button routerLinkActive="active" routerLink="pedidosfeitos">Feitos</button>
    </span>
    <span>
      <button id="botao4" mat-button routerLinkActive="active" routerLink="caixa">Caixa</button>
    </span>

  </mat-toolbar>



  <router-outlet></router-outlet>

</div>
