/* Estilo do corpo da página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilo do menu */
#toolbar1 {
  background-color: #00a8e8;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#usuario {
  font-weight: bold;
  margin-right: 10px;
}

#tituloComandOn {
  font-weight: bold;
  font-size: 24px;
}

#logOut {
  display: flex;
  align-items: center;
}

#logOutButton {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
}

#logOutButton:hover {
  text-decoration: underline;
}

#toolbar2 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#toolbar2 button {
  background-color: transparent;
  color: #00a8e8;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
}

#toolbar2 button.active {
  color: #fff;
  background-color: #00a8e8;
}

#toolbar2 button.active:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #00a8e8 transparent;
}

#toolbar2 button:hover:not(.active) {
  color: #fff;
  background-color: #00a8e8;
}
