<div>
  <mat-toolbar>

    <span>{{ usuario }}</span>

    <span>ComandaOn</span>

    <span><button (click)="logout()">LogOut</button></span>

  </mat-toolbar>

  <mat-toolbar>
    <span>
      <button class="botaoToolbar" mat-button routerLink="novopedido">Novo pedido</button>
    </span>
    <span>
      <button class="botaoToolbar" mat-button routerLink="listadepedidos">Lista de pedidos</button>
    </span>
    <span>
      <button class="botaoToolbar" mat-button routerLink="pedidosfeitos">Pedidos feitos</button>
    </span>
    <span>
      <button class="botaoToolbar" mat-button routerLink="caixa">Finalizar comanda</button>
    </span>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
